@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

//* FONTS

$licorice: "Licorice", cursive;
$inika: "Inika", serif;

//* COLOURS

$black: #111111;
$dark-gray: #1E1E1E;
$dark-brown: #4F2919;
$light-brown: #7A4C20;
$caramel-brown: #B46538;
$white: #EFEFEF;

