@use '../../styles/variables' as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  padding: 3rem 3rem;
  position: relative;
  z-index: 2;

  .centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    h1 {
      font-family: $licorice;
      line-height: 3rem;
      letter-spacing: 2px;
      font-size: 2.5rem;
      font-weight: 200;
      color: $white;
      margin: 0;
      padding-bottom: 1rem;
    }

    .floatingIcon {
      width: 250px;
      height: 250px;
      background-color: $black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 100%;
      transform: translateY(-50%);
      image-rendering: auto;
      clip-path: inset(50% 0 0 0);

      img {
        width: 100%;
        height: 110px;
        margin-bottom: -5rem;
        margin-left: 5px;
      }
    }
  }

  .navIcons {
    position: absolute;
    right: 2rem;
    display: flex;
    align-items: center;

    .regionButtonContainer {
      margin-right: 1.5rem;

      button {
        background: transparent;
        color: $white;
        border: 1px solid $white;
        padding: 0.5rem 1rem;
        font-family: $inika;
        cursor: pointer;
      }
    }

    .icon {
      width: 28px;
      height: 28px;
      margin-left: 1rem;
      cursor: pointer;
      filter: brightness(0) invert(1);
    }

    .icon:last-child {
      margin-top: 10px;
    }
  }
}

.titleLink {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    .centerContent {
      position: static;
      transform: none;
      flex-direction: row;
      align-items: center;

      .floatingIcon {
        width: 25px;
        height: 25px;
        margin-top: 1.8rem;
        margin-left: 0.3rem;
        margin-right: 1rem;
        position: static;
        clip-path: none;

        img {
          width: 100%;
          height: auto;
          margin-bottom: 0;
          margin-left: 0;
        }
      }

      h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-bottom: 0;
        margin: 0;
      }
    }

    .navIcons {
      position: static;
      display: flex;
      align-items: center;

      .regionButtonContainer {
        margin-right: 1rem;
      }

      .icon {
        width: 24px;
        height: 24px;
        margin-left: 0; 
      }

      .icon:nth-child(2) { 
        margin-left: 1rem;
      }

      .icon:last-child { 
        margin-left: 0.5rem; 
      }
    }
  }
}
